{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * QR Code ref counter plugin for Craft CMS
 *
 * QrCodeRefCounterWidget Widget Body
 *
 * @author    YR Designs
 * @copyright Copyright (c) 2020 YR Designs
 * @link      https://yr-designs.ch
 * @package   QrCodeRefCounter
 * @since     1.0.0
 */
#}

<table>
    <tr>
        {% for key, setting in settings %}
            <th>
                <strong>{{ key }}</strong>
            </th>
        {% endfor %}
    </tr>
    <tr>
        {% for key, setting in settings %}
            <td>{{ setting }}</td>
        {% endfor %}
    </tr>
</table>

